<h1> Mettre ici l'album photo des stars </h1>
<div class = "tab">
{{>ListPhotoAlb}}
    {{#if commentPhoto}}
        <div class="album" data-nb="{{counter.nb_photo}}">
        <div class="prev">
        <button class="switchPhoto left" type="button" data-current="0" data-action="prev">&lt&lt</button>
            <br/>
            <br/>
            <br/>
            <br/>
            <br/>
            <br/>
            <br/>
            <br/>
        </div>
            <div class="photos">
        {{#each commentPhoto}}
            <div class="oneVIP" data-num="{{@index}}">

                <p class="nomVipAlbum np">{{this.VIP_PRENOM}} {{this.VIP_NOM}}</p>
                <img src="/images/vip/{{this.PHOTO_ADRESSE}}" alt="adr" id="imgAlbum" width="50%">
                <fieldset>
                    <legend>Commentaire</legend>
                    <p>
                        {{#if this.PHOTO_COMMENTAIRE}}
                            {{this.PHOTO_COMMENTAIRE}}
                        {{else}}
                            <i>Cette photo ne possède pas de commentaire</i>
                        {{/if}}
                    </p>
                </fieldset>
            </div>

        {{/each}}
            </div>
        <div class="nextBtn">
        <button class="switchPhoto right" type="button" data-current="0" data-action="next">&gt&gt</button>
            <br/>
            <br/>
            <br/>
            <br/>
            <br/>
            <br/>
            <br/>
            <br/>
        </div>

    </div>
    {{else}}
        <p>
            Choisissez un vip pour voir l'album le concernant
        </p>
    {{/if}}
  </div>
