<h1> Mettre ici l'album photo des stars </h1>
<div class = "tab">
  <div class="tabAlb">
{{>ListPhotoAlb}}
</div>
    {{#if commentPhoto}}
        <div class="album" data-nb="{{counter.nb_photo}}">
        <button class="switchPhoto" type="button" data-current="0" data-action="prev">&lt&lt</button>
            <div class="photos">
        {{#each commentPhoto}}
            <div class="oneVIP" data-num="{{@index}}">
              
                <p class="nomVipAlbum np">{{this.VIP_PRENOM}} {{this.VIP_NOM}}</p>
                <img src="/images/vip/{{this.PHOTO_ADRESSE}}"  data-groupe="{{this.groupe}}" alt="adr" id="imgAlbum">
                <fieldset>
                    <legend>Commentaire</legend>
                    <p>
                        {{#if this.PHOTO_COMMENTAIRE}}
                            {{this.PHOTO_COMMENTAIRE}}
                        {{else}}
                            <i>Cette photo ne possède pas de commentaire</i>
                        {{/if}}
                    </p>
                </fieldset>
            </div>
        {{/each}}
            </div>
        <button class="switchPhoto" type="button" data-current="0" data-action="next">&gt&gt</button>
    </div>
    {{else}}
        <p>
            Choisissez un vip pour voir l'album le concernant
        </p>
    {{/if}}
  </div>
