<h1> Mettre ici l'album photo des stars </h1>
{{>ListPhotoAlb}}
    {{#if commentPhoto}}
        {{#each commentPhoto}}

                <p class="nomVipAlbum np">{{this.VIP_PRENOM}} {{this.VIP_NOM}}</p>
                <img src="/images/vip/{{this.PHOTO_ADRESSE}}" alt="adr" id="imgAlbum">
                <fieldset>
                    <legend>Commentaire</legend>
                    <p>
                        {{#if this.PHOTO_COMMENTAIRE}}
                            {{this.PHOTO_COMMENTAIRE}}
                        {{else}}
                            <i>Cette photo ne possède pas de commentaire</i>
                        {{/if}}
                    </p>
                </fieldset>

        {{/each}}
    {{else}}
        <p>
            Choisissez un vip pour voir l'album le concernant
        </p>
    {{/if}}
    <button class="navigate" type="button" data-current="1" data-action="prev">Précédent</button>
    <button class="navigate" type="button" data-current="1" data-action="next">Suivant</button>
