<div class="menu">
    <div class="next">
    {{#each listerAlbum}}
      <a href="/album/{{this.VIP_NUMERO}}" data-groupe="{{this.groupe}}" class="album"> <img src="/images/vip/{{this.PHOTO_ADRESSE}}" alt="{{this.VIP_PRENOM}} {{this.VIP_NOM}}" width="15%"></a>
    {{/each}}
    </div>
    <button class="navigate" type="button" data-current="1" data-action="first">Retourner au début</button>
    <button class="navigate" type="button" data-current="1" data-action="prev">Précédent</button>
    <button class="navigate" type="button" data-current="1" data-action="next">Suivant</button>
    <button class="navigate" type="button" data-current="1" data-action="last">Aller à la fin</button>
</div>